:root {
    --full: 80;
    --bar_w: 40px;
    --bar_h: 400px;
    /* hight_go = -1(UP) -2(MID) -1000(DOWN) */
    --hight_go: -2;
    --sek: 80px;
    --left_m: -25px;
    --deg90: 90deg;
    --right_m: 25px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
}

.barCon {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.398);
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;

}

.bars {
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.barSub {
    width: 100%;
    height: 100%;
    background: #a8a;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    transform: rotateX(-50deg) rotateY(20deg) scale3d(1, 1, 1) translate3d(0px, calc(var(--bar_h)/var(--hight_go)), 0px);
}

.bar_side {
    width: var(--bar_w);
    height: var(--bar_h);
}

.bar_tb {
    width: var(--bar_w);
    height: var(--bar_w);
}

.bar {
    position: absolute;
    transform-style: preserve-3d;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .4);
}

.bar-left {
    transform: rotateY(var(--deg90)) rotateZ(180deg) translate3d(calc(var(--bar_w) / -2), 0px, calc(var(--bar_w) / -2));
}

.bar-front {
    transform: rotateZ(180deg);

}

.bar-front::after {

    counter-reset: x var(--full);
    content: counter(x)"%";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: var(--bar_w);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.4);
    font-family: cursive;
    font-size: calc(var(--bar_w)/2.2);
    font-weight: 800;
    color: rgb(0, 0, 0, 0.7);
    /*margin-top: calc(-7px * (var(--hight_go)/var(--hight_go)/var(--hight_go)/var(--hight_go)));
            transform: rotateX(90deg) rotateY(180deg) translate3d(calc(var(--bar_w)/-13), -12px, calc(var(--bar_h)/100 * calc(((100 - var(--full)))/100)) );*/
    transform: rotateX(90deg) rotateY(180deg) translate3d(0px, calc(var(--bar_w)/-2), calc(var(--bar_w)/-2)) scale3d(1, 1, 1);
}

.bar-right {
    transform: rotateY(var(--deg90)) rotateZ(180deg) translate3d(calc(var(--bar_w) / -2), 0px, calc(var(--bar_w) / 2));
}

.bar-back {
    transform: rotateY(180deg) rotateZ(180deg) translate3d(0px, 0px, var(--bar_w));
}

.bar-top {
    transform: rotateX(90deg) rotateZ(180deg) translate3d(0px, calc(var(--bar_w) / 2), calc(var(--bar_w) / 2));
}

.bar-top-up {
    width: 100%;
    height: 100%;
    background: #c88888;
    transform: rotateZ(180deg) translate3d(0px, 0px, calc((var(--bar_h) * (-1.25)) + calc((var(--full) * 2.9px) - ((var(--full) * var(--full) / 250)*1px)))) scale3d(calc(1 + (100 - var(--full)) /400), calc(1 + (100 - var(--full)) /400), 1);
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.5);

}

.bar-skill {
    width: 100%;
    height: calc(var(--full) *1%);
    background: #c88888;
}

.bar-top-up::before {
    position: absolute;
    margin: 0px 0px 0px 1px;
    counter-reset: x var(--full);
    content: counter(x);
    border-radius: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    color: black;
    background: rgb(237, 197, 197);
    box-shadow: 0px 0px 2px 1px rgb(0, 0, 0, 0.3);
    transform-style: preserve-3d;
}